/*清除浮动*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**** MAIN  *************/
#banner {
    height: 500px;
    width: 100%;
    background-size: cover;
    background: green url(../img/banner-3.png) no-repeat center center;
}

#banner-container {
    position: relative;
    max-width: 980px;
    height: 500px;
    margin: 0 auto;
}

#banner-text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 10px 30px 10px;
    max-width: 300px;
    min-height: 100px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background:    -moz-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0)); /* For Firefox (3.6 to 15) */
    background:      -o-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0)); /* For old Opera (11.1 to 12.0) */ 
    background:         linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 75%,rgba(255,255,255,0)); /* Standard syntax; must be last */
}

#banner-text > h2 {
    padding-bottom: 12px;
    direction: rtl;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

#banner-text > p {
    text-indent: 1.5em;
    line-height: 150%;
}

#m-spots {
    position: relative;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.m-spot {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width: 320px;
    background-color: #FFF;
}

#m-spot-c {
    margin-right: 0;
}

.m-spot > img {
    display: block;
    padding: 10px 10px;
    width: 300px;
    height: 180px;
}

.m-spot-text{
    padding: 5px 30px 25px 30px;
}

.m-spot-text > p {
    text-indent: 1.5em;
    line-height: 170%;
}

#m-about {
    margin-top: 90px;
    text-align: center;
    background-color: #FFF;
}

#m-about img {
    display: block;
    position: relative;
    top: -40px;
    margin: 0 auto;
    width: 160px;
    height: 160px;
}

#m-about-text {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 100%;
    padding-bottom: 150px;
}

#m-about-text h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: "Century Gothic" ,Arial, sans-serif;
}

#m-about-text p {
    text-align: left;
    font-size: 14px;
    text-indent: 1.5em;
    line-height: 170%;
}